@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: Roboto, sans-serif;
}

.nav-item {
    padding: 12px 8px;
    letter-spacing: 0.5px;
}

.slider-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    transition: all .2s;
    margin-top: 4px;

}

.tick-list {
    position: relative;
    list-style: none;
    margin-left: 0;
    padding-left: 32px;

    & li:not(:last-child) {
        margin: 8px 0;
    }

    & li:before {
        content: url("../assets/icons/check.svg");
        position: absolute;
        left: 0;
    }
}

.footer {
    .footer-upper-area {
        .footer-col {
            display: flex;
            flex-direction: column;

            > div,
            > a {
                padding: 12px 0;
            }

            & div {
                font-weight: 500;
                color: white;
            }

            & a {
                color: #E2E8F0; /* BLUE GRAY 200 */
            }
        }
    }
}
